@{
    ViewData["Title"] = "سياسة الخصوصية";
    @Html.Partial("~/Views/Shared/Styling.cshtml")
    Layout = null;
}
@Html.Partial("_Header")
<style>
    body {
        font-family: "Cairo", sans-serif;
       direction: rtl;  
    }
  .fo{
        font-family: "Cairo", sans-serif;
  }
</style>
<div class="container-xxl py-5">

<div class="container">

        <h1 class="fo">سياسة الخصوصية</h1>
        <p>في منصة <strong>مفهوم</strong>، نحن نحترم خصوصيتك ونلتزم بحماية البيانات الشخصية التي تقدمها لنا.<br /> تهدف هذه السياسة إلى توضيح كيفية جمع واستخدام وحماية المعلومات الخاصة بك كمستخدم للمنصة.</p>

        <h2 class="fo">1. المعلومات التي نجمعها</h2>
        <ul>
            <li>الاسم وعنوان البريد الإلكتروني عند التسجيل.</li>
            <li>معلومات المتابعة المتعلقة باستخدامك للمحتوى التعليمي، مثل الدروس التي تم مشاهدتها أو التفاعل معها.</li>
            <li>بيانات تقنية مثل نوع المتصفح، عنوان الـ IP، ونظام التشغيل لأغراض تحليلية.</li>
        </ul>

    <h2 class="fo">2. كيفية استخدام المعلومات</h2>
        <p>نستخدم المعلومات التي نجمعها من أجل:</p>
        <ul>
            <li>تحسين جودة المحتوى التعليمي المقدم.</li>
            <li>توفير دعم فني وفتح قنوات تواصل مع الطلاب.</li>
            <li>تحليل سلوك المستخدمين لتحسين تجربة المنصة.</li>
        </ul>

    <h2 class="fo">3. حماية البيانات</h2>
        <p>نتخذ كافة التدابير الأمنية اللازمة لحماية معلوماتك من الوصول أو التعديل أو الإفشاء غير المصرح به.</p>

    <h2 class="fo">4. مشاركة البيانات</h2>
        <p>لا نقوم ببيع أو مشاركة بياناتك الشخصية مع أي طرف ثالث، إلا في الحالات القانونية التي تُلزمنا بذلك.</p>

    <h2 class="fo">5. ملفات تعريف الارتباط </h2>
        <p>نستخدم ملفات تعريف الارتباط لتحسين تجربة المستخدم. يمكنك تعطيل الكوكيز من إعدادات المتصفح إذا رغبت.</p>

    <h2 class="fo">6. التعديلات على سياسة الخصوصية</h2>
        <p>قد نقوم بتحديث سياسة الخصوصية من وقت لآخر. سيتم نشر أي تحديثات على هذه الصفحة، وننصحك بمراجعتها بشكل دوري.</p>

    </div>
</div>
@Html.Partial("_Footer")